<div class="d-flex justify-content-between align-items-center">
    <input class="mb-3 mt-3 form-control form-control-sm w-25" type="file" id="translate-openFiles">

    <div>
        <div class="form-check form-switch">
            <input class="form-check-input pointer" type="checkbox" role="switch" id="showTextInput">
            <label class="form-check-label pointer no-copy" for="showTextInput">Xem ô nhập</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input pointer" type="checkbox" role="switch" id="showTextOutput">
            <label class="form-check-label pointer no-copy" for="showTextOutput">Xem ô kết quả</label>
        </div>
    </div>

</div>

<div class="row">
    <!-- Các box văn bản và kết quả -->
    <div id="col-text_translate" class="col-5">
        <div>
            <label for="transText">Hoặc dán văn bản vào đây:</label>
            <textarea id="transText" class="form-control form-control-sm"
                style="height: 218px;resize: none;"></textarea>
        </div>

        <div>
            <label for="transResult">Kết quả:</label>
            <textarea id="transResult" readonly class="form-control form-control-sm"
                style="height: 218px;resize: none;"></textarea>
        </div>
    </div>
    <!-- Bảng so sánh và chỉnh sửa -->
    <div id="col-table_translate" class="col col-7">
        <p class="mb-0">Bảng so sánh dữ liệu:</p>
        <div class="tableScroll border rounded-1" style="height: 460px;">
            <table id="tb_translate" class="table table-sm table-hover border-start border-end"
                style="table-layout: auto;">
                <thead class="">
                    <tr class="table-active">
                        <th scope="col">Khoá</th>
                        <th scope="col">Văn bản gốc</th>
                        <th scope="col">Văn bản đã dịch</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <script type="text/x-handlebars-template" id="tb_translate-Template">
                    %#if dataTable%
                        %#each dataTable%
                            <tr>
                                <td class="key-column">%key%</td>
                                <td class="value-column">%value%</td>
                                <td style="width: 275px;">
                                    <textarea class="form-control overflow-y-hidden" style="height: 17px;"
                                        oninput="updateTextTranslated(this, '#transResult', '#spaceRow')">%translated%</textarea>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-sm btn-secondary" onclick="recoveryTextTranslated(this)">
                                            <i class="fa-solid fa-rotate-left"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        %/each%
                    %/if%
                </script>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modal-translate" class="modal modal-lg fade" aria-labelledby="modal-translate" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h5 class="modal-title w-100 text-center fw-bold">Tuỳ chọn dịch</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="m-0">Dịch các cặp chứa từ khoá:</p>

                    <div class="form-check form-switch form-check-list">
                        <input class="form-check-input pointer" type="checkbox" role="switch" id="filterType">
                        <label class="form-check-label pointer no-copy" for="filterType"></label>
                    </div>
                </div>

                <textarea id="filterContent" class="form-control form-control-sm"
                    placeholder="Nhập các từ khóa cách nhau bằng dấu phẩy. Ví dụ: abc, bdf, ..."></textarea>

                <div class="tableScroll border rounded-1 mt-3" style="height: 350px;">
                    <table id="tb_filter" class="table table-sm table-hover border-start border-end"
                        style="table-layout: auto;">
                        <thead>
                            <tr class="table-active">
                                <th scope="col">Keys</th>
                                <th scope="col">Values</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <script type="text/x-handlebars-template" id="tb_filter-Template">
                            %#if dataTable%
                            %#each dataTable%
                                <tr>
                                    <td class="key-column" style="max-width: 300px;">%key%</td>
                                    <td class="value-column">%value%</td>
                                </tr>
                            %/each%
                            %/if%
                        </script>
                    </table>
                </div>
            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"
                    style="width: 100px;">Đóng</button>
            </div>
        </div>
    </div>
</div>