<input class="mb-3 mt-3 form-control form-control-sm w-25" type="file" id="openFiles">

<div class="row">
    <!-- Các box văn bản và kết quả -->
    <div class="col-5">
        <div class="mb-3">
            <label for="transText">Hoặc dán văn bản vào đây:</label>
            <textarea id="transText" class="form-control form-control-sm"
                style="height: 210px;resize: none;"></textarea>
            <div class="d-flex justify-content-between">
                <span id="transTextError" class="text-danger"></span>
                <span id="transTextCount"></span>
            </div>
        </div>

        <div>
            <label for="transResult">Kết quả:</label>
            <textarea id="transResult" readonly class="form-control form-control-sm"
                style="height: 210px;resize: none;"></textarea>
            <div class="d-flex justify-content-between">
                <span id="transResultError" class="text-danger"></span>
                <span id="transResultCount"></span>
            </div>
        </div>
    </div>
    <!-- Bảng so sánh và chỉnh sửa -->
    <div class="col-7">
        <p class="mb-0">Bảng dữ liệu:</p>
        <div class="tableScroll border rounded-1" style="height: 460px;">
            <table id="tbCompare" class="table table-sm table-hover border-start border-end"
                style="table-layout: auto;">
                <thead class="">
                    <tr class="table-active">
                        <th scope="col">Khoá</th>
                        <th scope="col">Văn bản gốc</th>
                        <th scope="col">Văn bản đã dịch</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbCompareBody">
                </tbody>
                <script type="text/x-handlebars-template" id="tbCompare-Template">
                    %#if dataTable%
                        %#each dataTable%
                            <tr>
                                <td class="key-column">%key%</td>
                                <td class="value-column">%value%</td>
                                <td style="width: 275px;">
                                    <textarea class="form-control overflow-y-hidden" style="height: 17px;"
                                        oninput="updateTextTranslated(this)">%translated%</textarea>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-sm btn-secondary" onclick="recoveryTextTranslated(this)">
                                            <i class="fa-solid fa-rotate-left"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        %/each%
                    %/if%
                </script>
            </table>
        </div>
    </div>
</div>

<!-- Các nút và tuỳ chọn dịch -->
<div class="d-flex align-items-center justify-content-between">
    <button id="btn-copy" class="btn btn-success btn-sm" style="visibility: hidden;">Sao Chép</button>

    <div class="row">
        <!-- Server api -->
        <div class="col-auto">
            <div class="d-flex align-items-center text-nowrap">
                <label class="me-2" for="api">Server API:</label>
                <select class="form-select form-select-sm" id="api">
                    <option value="0" selected>API 1</option>
                    <option value="1">API 2</option>
                    <option value="2">API 3</option>
                </select>
            </div>
        </div>
        <!-- Giới hạn văn bản -->
        <div class="col-auto">
            <div class="d-flex align-items-center text-nowrap">
                <label class="me-2" for="textLimit">Giới hạn văn bản:</label>
                <select class="form-select form-select-sm" id="textLimit">
                    <option value="5000">5000</option>
                    <option value="4500" selected>4500</option>
                    <option value="4000">4000</option>
                    <option value="3000">3000</option>
                    <option value="2000">2000</option>
                    <option value="1000">1000</option>
                </select>
            </div>
        </div>
        <!-- Khoán cách đầu ra mỗi dòng -->
        <div class="col-auto">
            <div class="d-flex align-items-center text-nowrap">
                <label class="me-2" for="spaceRow">Khoản cách:</label>
                <select class="form-select form-select-sm" id="spaceRow">
                    <option value="2" selected>2</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <!-- Nút dịch -->
        <div class="col-auto">
            <button id="btn-translate" class="btn btn-sm btn-primary text-nowrap">Bắt đầu dịch</button>
        </div>
    </div>
</div>

<!-- Thanh tiến trình -->
<div id="progressTranslate" class="progress mt-2 d-none">
    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    </div>
</div>

<script src="../js/translate.js"></script>