<div class="d-flex justify-content-between align-items-center">
    <input class="mt-3 mb-3 form-control form-control-sm w-25" type="file" multiple id="update-openFiles">

    <div>
        <div class="form-check form-switch">
            <input class="form-check-input pointer" type="checkbox" role="switch" id="showTextInput_update">
            <label class="form-check-label pointer no-copy" for="showTextInput_update">Xem ô nhập</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input pointer" type="checkbox" role="switch" id="showTextOutput_update">
            <label class="form-check-label pointer no-copy" for="showTextOutput_update">Xem ô kết quả</label>
        </div>
    </div>
</div>

<div id="textarea-container" class="row mb-3 d-none">
    <div class="col">
        <label for="textJsonNew">Json bản mới:</label>
        <textarea id="textJsonNew" class="form-control form-control-sm" style="height: 150px;"></textarea>
    </div>
    <div class="col">
        <label for="textJsonOld">Json bản cũ:</label>
        <textarea id="textJsonOld" class="form-control form-control-sm" style="height: 150px;"></textarea>
    </div>
    <div class="col">
        <label for="textJsonTranslated">Json bản đã dịch:</label>
        <textarea id="textJsonTranslated" class="form-control form-control-sm" style="height: 150px;"></textarea>
    </div>
</div>

<div class="row">
    <div id="col-text_update" class="col-5">
        <label for="updateResult">Kết quả:</label>
        <textarea id="updateResult" class="form-control form-control-sm"
            style="height: 460px; resize: none;"></textarea>
    </div>

    <div id="col-table_update" class="col col-7">
        <span>Bảng so sánh dữ liệu:</span>
        <div class="tableScroll border rounded-1" style="height: 460px;">
            <table id="tb_update" class="table table-sm table-hover border-start border-end"
                style="table-layout: auto;">
                <thead class="">
                    <tr class="table-active">
                        <th scope="col">Khoá</th>
                        <th scope="col">Văn bản gốc</th>
                        <th scope="col">Văn bản đã dịch</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tb_updateBody">
                </tbody>
                <script type="text/x-handlebars-template" id="tb_update-Template">
                    %#if dataTable%
                        %#each dataTable%
                            <tr>
                                <td class="key-column">%key%</td>
                                <td class="value-column">%value%</td>
                                <td style="width: 500px;">
                                    <textarea class="form-control overflow-y-hidden" style="height: 17px;"
                                        oninput="updateTextTranslated(this, '#updateResult', '#spaceRow_update')">%translated%</textarea>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-sm btn-secondary" onclick="recoveryTextTranslated(this)">
                                            <i class="fa-solid fa-rotate-left"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        %/each%
                    %/if%
                </script>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modal-update" class="modal modal-lg fade" aria-labelledby="modal-update" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h5 class="modal-title w-100 text-center fw-bold">Tuỳ chọn dịch</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="m-0">Dịch các cặp chứa từ khoá:</p>

                    <div class="form-check form-switch form-check-list">
                        <input class="form-check-input pointer" type="checkbox" role="switch" id="filterType_update">
                        <label class="form-check-label pointer no-copy" for="filterType_update"></label>
                    </div>
                </div>

                <textarea id="filterContent_update" class="form-control form-control-sm"
                    placeholder="Nhập các từ khóa cách nhau bằng dấu phẩy. Ví dụ: abc, bdf, ..."></textarea>

                <div class="tableScroll border rounded-1 mt-3" style="height: 350px;">
                    <table id="tb_filterUpdate" class="table table-sm table-hover border-start border-end"
                        style="table-layout: auto;">
                        <thead>
                            <tr class="table-active">
                                <th scope="col">Keys</th>
                                <th scope="col">Values</th>
                            </tr>
                        </thead>
                        <tbody id="tb_filterUpdateBody"></tbody>
                        <script type="text/x-handlebars-template" id="tb_filterUpdate-Template">
                            %#if dataTable%
                            %#each dataTable%
                                <tr>
                                    <td class="key-column" style="max-width: 300px;">%key%</td>
                                    <td class="value-column">%value%</td>
                                </tr>
                            %/each%
                            %/if%
                        </script>
                    </table>
                </div>

            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"
                    style="width: 100px;">Đóng</button>
            </div>
        </div>
    </div>
</div>